.title{
    text-align: center; 
    margin-top: 25px; 
}

.form{
    text-align: center;
    margin:auto;
    max-width: 70%;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer; 
}

#edit-box{
    display: none; 
    max-width: 80%;
    margin: auto; 
    margin-top:10px; 
}

td{
    background-color:rgb(174, 209, 240);
    padding-right:10px;
    text-align:left;
}

.to-do{
    background: transparent !important;
}


